


{% extends "layout.html" %}

{% block content %}
<a id="make_new_course" href="/unit/new">New Course</a>

<div id="all_courses">
  {% for object in object_list %}
  <div class="{{object.course_number}}_{{object.group_number}}">
    <h4 class="">{{object.name}}</h4>
    <div class="badge bg-primary">{{object.department}}</div>
    <div class="badge bg-secondary">{{object.first_day}} {{object.second_day}}</div>
    <div class="badge bg-secondary">{{object.start_time}} {{object.end_time}}</div>
    <div class="badge bg-success">{{object.teacher}}</div>
  </div>
  {% endfor %}

</div>
    
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Department</th>
        <th scope="col">Name</th>
        <th scope="col">Group id</th>
        <th scope="col">Unit id</th>
        <th scope="col">Teacher's name</th>
        <th scope="col">Start time</th>
        <th scope="col">End time</th>
        <th scope="col">First day</th>
        <th scope="col">Second day</th>
      </tr>
    </thead>
    
    <tbody>
        {% for object in object_list %}
        <tr>
            <th scope="row">{{ object.pk }}</th>
            <td>{{ object.department }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.group_number }}</td>
            <td>{{ object.course_number }}</td>
            <td>{{ object.teacher }}</td>
            <td>{{ object.start_time }}</td>
            <td>{{ object.end_time }}</td>
            <td>{{ object.first_day }}</td>
            <td>{{ object.second_day }}</td>
          </tr>
        {% empty %}
        <tr>
            <td scope="row">No items yet</td>
        </tr>        
        {% endfor %}
    
    </tbody>
  </table>
        
    </ul>
{% endblock %}
